@mixin before_circle
    &::before
        content: ''
        position: absolute
        height: 36px
        width: 36px
        top: -25%
        left: 0
        border-radius: 100%
        background-color: $main-color
        z-index: -1