.skills {
  padding-top: 120px;
}
.skills__header {
  text-align: center;
}
.skills__subheader {
  text-align: center;
}
.skills__wrapper {
  display: grid;
  grid-template: repeat(2, 270px)/repeat(4, 270px);
  padding-bottom: 120px;
  gap: 13px;
}
.skills-item {
  padding: 30px;
  border: 1px solid black;
}
.skills-item_img {
  height: 70px;
}
.skills-item_name {
  margin: 15px 0 10px 0;
  font-weight: bold;
  font-size: 14px;
}
.skills-item_text {
  font-size: 12px;
}